html {
    font-size: 50px;
}

#mobile-header {
    flex: 1;
    background: #F6F6F6;
}

#mobile-header header {
    border-bottom: 1px solid #03A9F4;
    padding-left: 10px;
}

#mobile-header header img {
    height: 50px;
}

#mobile-header header span {
    font-size: 35px;
    vertical-align: top;
    padding-left: 5px;
    color: #03A9F4;
}